@import "src/@core/scss/fuse";
#add-property-button {
  position: absolute;
  bottom: 12px;
  right: 12px;
  padding: 0;
  z-index: 99;

  @include media-breakpoint-down('xs') {
      position: sticky;
      top: calc(100vh - 72px);
      bottom: auto;
  }
}

#customEntityPage {

  .content {
      overflow: hidden;

      .sidebar {

          &:not(.locked-open) {
              background: white;
          }
      }

      .p-10{
          padding: 10px!important;
      }

      .h1{
          font-size: 12px!important;
      }
  }
}