<div id="property" class="page-layout carded fullwidth inner-scroll">
  <div class="top-bg accent"></div>
  <div class="center">
    <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutAlign="start center">
        <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/asset/properties'">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          <div class="h2" *ngIf="pageType ==='edit'">
            Edit Property - {{property.dataId}}
          </div>
          <div class="h2" *ngIf="pageType ==='new'">
            New Property
          </div>
          <div class="subtitle secondary-text">
            <span>Property Detail</span>
          </div>
        </div>
      </div>
      <button mat-raised-button class="save-product-button" [disabled]="propertyForm.invalid" *ngIf="pageType ==='new'"
        (click)="addProperty()">
        <span>ADD</span>
      </button>

      <button mat-raised-button class="save-product-button" [disabled]="propertyForm.invalid || propertyForm.pristine"
        *ngIf="pageType ==='edit'" (click)="saveProperty()">
        <span>SAVE</span>
      </button>
    </div>
    <div class="content-card">
      <div class="content">
        <form name="propertyForm" [formGroup]="propertyForm" class="property w-100-p" fxLayout="column" fxFlex>
          <mat-tab-group>
            <mat-tab label="Identification">
              <div class="tab-content p-24" fusePerfectScrollbar>
                <mat-form-field class="w-100-p">
                  <input matInput placeholder="Property Reference" formControlName='propertyReference'>
                </mat-form-field>
                <mat-form-field class="w-100-p">
                  <input matInput placeholder="Address Line1" formControlName='addressLine1'>
                </mat-form-field>
                <mat-form-field class="w-100-p">
                  <input matInput placeholder="Address Line2" formControlName='addressLine2'>
                </mat-form-field>
                <mat-form-field class="w-100-p">
                  <input matInput placeholder="Address Line3" formControlName='addressLine3'>
                </mat-form-field>
                <mat-form-field class="w-100-p">
                  <input matInput placeholder="City" formControlName='city'>
                </mat-form-field>
                <mat-form-field class="w-100-p">
                  <input matInput placeholder="Post code" formControlName='postcode'>
                </mat-form-field>
                <mat-form-field class="w-100-p">
                  <input matInput placeholder="Known As" formControlName='knownAs'>
                </mat-form-field>
              </div>
            </mat-tab>
            <mat-tab label="Details">
              <div class="tab-content p-24" fusePerfectScrollbar>
                <mat-form-field class="w-100-p">
                  <input matInput placeholder="Property Size" formControlName='propertySize'>
                </mat-form-field>

                <mat-form-field class="w-100-p">
                  <input matInput placeholder="Net Internal Size" formControlName='netInternalSize'>
                </mat-form-field>

                <mat-form-field class="w-100-p">
                  <input matInput placeholder="Gross Internal Size" formControlName='grossInternalSize'>
                </mat-form-field>

                <mat-form-field class="w-100-p">
                  <input matInput placeholder="Number Of Floors" formControlName='numberOfFloors'>
                </mat-form-field>

                <mat-form-field class="w-100-p">
                  <input matInput placeholder="Number Of PlantRooms" formControlName='numberOfPlantRooms'>
                </mat-form-field>
              </div>
            </mat-tab>
            <mat-tab label="Attachments">
              <div class="tab-content p-24" fusePerfectScrollbar>
                <p>Nothing</p>
              </div>
            </mat-tab>
            <mat-tab label="Contact">
              <div class="tab-content p-24" fusePerfectScrollbar>
                <mat-form-field class="w-100-p">
                  <input matInput placeholder="Telephone">
                </mat-form-field>
                <mat-form-field class="w-100-p">
                  <input matInput placeholder="Email">
                </mat-form-field>
                <mat-form-field class="w-100-p">
                  <input matInput placeholder="Fax">
                </mat-form-field>
              </div>
            </mat-tab>
            <mat-tab label="Status">
              <div class="tab-content p-24" fusePerfectScrollbar>
                <mat-form-field class="w-100-p">
                  <input matInput [matDatepicker]="StatusStartDate" placeholder="Status Start Date" formControlName='statusStartDate'>
                  <mat-datepicker-toggle matSuffix [for]="StatusStartDate"></mat-datepicker-toggle>
                  <mat-datepicker #StatusStartDate></mat-datepicker>
                </mat-form-field>
              </div>
            </mat-tab>
            <mat-tab label="Notes & Observation">
              <div class="tab-content p-24" fusePerfectScrollbar>
                <mat-form-field class="w-100-p">
                  <textarea matInput placeholder="Leave a comment"></textarea>
                </mat-form-field>
              </div>
            </mat-tab>
          </mat-tab-group>
        </form>
      </div>
    </div>
  </div>
</div>