<mat-table class="data-table" #table [dataSource]="dataSource" matSort matSortDirection="asc" [@animateStagger]="{value:'50'}">
    <ng-container *ngFor="let column of columns; let i = index" matColumnDef="{{ column.name }}" [sticky]="column.sticky === 'start'"
        [stickyEnd]="column.sticky === 'end'">
        <mat-header-cell *matHeaderCellDef mat-sort-header="{{ column.name || 'col' + i }}" [disabled]="!column.name">
            {{ column.title }}
            <button class="mat-sort-header-button" *ngIf="showFilters && canFilter(column)" (click)="filter(column); $event.stopPropagation();">
                <mat-icon color="{{ isFiltered(column) ? 'primary' : 'default' }}">filter_list</mat-icon>
            </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <mdt-table-cell [row]="row" [column]="column"></mdt-table-cell>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row" matRipple (click)="clickRowEvent(row)">
    </mat-row>
</mat-table>
<mat-paginator #paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" showFirstLastButtons [length]="length"></mat-paginator>