.data-table {
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    .mat-header-row {
        min-height: 50.9px;
    }
    .table-row {
        position: relative;
        cursor: pointer;
        height: 61.5px;
    }
    .mat-cell {
        min-width: 0;
        display: flex;
        align-items: center;
    }
}