<div class="toolbar px-24 py-8">
  <div fxLayout="row" fxLayoutAlign="space-between end" fxFlex="1 0 auto">
    <button mat-raised-button class="save-product-button" routerLink="../../">
      <mat-icon class="mr-2">navigate_before</mat-icon>
      <span>Back to Control List</span>
    </button>
    <button mat-raised-button class="save-product-button" color="accent" (click)="goToEditField()">
      <span>Edit</span>
    </button>
  </div>
</div>
<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="fieldTypeForm" errorMessage="Field Type is required.">
    <form [formGroup]="fieldTypeForm" fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="end" class="mb-8">
        <div *ngIf="validationErrorMessage" class="p-8">
          <mat-error>{{validationErrorMessage}}</mat-error>
        </div>
        <button mat-raised-button matStepperNext type="button" (click)="GetFieldTypeSpecification()" color="accent">Next</button>
      </div>
      <ng-template matStepLabel>Choose a Field Type</ng-template>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div class="p-24 mat-elevation-z4">
          <mat-radio-group formControlName="fieldType" required>
            <mat-radio-button *ngFor="let ft of fieldTypes" [value]="ft.id" (change)="fieldTypeChange($event)">
              {{ft.type}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="fieldGeneralForm">
    <ng-template matStepLabel>General</ng-template>
    <div class="mb-12" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
      <form [formGroup]="fieldGeneralForm" class="mat-card mat-elevation-z4 p-12" fxLayout="column" fxLayoutAlign="start"
        fxFlex="1 0 auto">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 0 auto">
          <div class="h2 mb-12">General</div>
          <div class="h2 mb-12">
            <button mat-button matStepperPrevious type="button" color="accent" (click)="stepper.reset()">Reset</button>
            <button mat-raised-button matStepperNext type="button" color="accent">Next</button>
          </div>
        </div>
        <mat-form-field appearance="outline" fxFlex="100">
          <mat-label>Field Type</mat-label>
          <input matInput [value]="detail.type" disabled>
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="start">
          <mat-form-field appearance="outline" fxFlex="100">
            <mat-select placeholder="Select Tab" formControlName="tabId" required [(value)]="tabId">
              <mat-option *ngFor="let tab of tabs" [value]="tab.id">
                {{tab.caption}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div *ngIf="tabs == null">
            <mat-form-field appearance="outline" fxFlex="100">
              <mat-label>Tab / Section</mat-label>
              <input matInput placeholder="Tab Caption" formControlName="tabName">
            </mat-form-field>
          </div>
        </div>
        <mat-form-field appearance="outline" fxFlex="100">
          <mat-label>Field Label</mat-label>
          <input matInput placeholder="Field Label" formControlName="label" required>
        </mat-form-field>
        <ng-container *ngIf="fieldGeneralVisibility">
          <div fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto">
            <mat-form-field appearance="outline" fxFlex="100" *ngIf="fieldGeneralVisibility.showDescription">
              <mat-label>Description</mat-label>
              <input matInput placeholder="Description" formControlName="description">
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="100" *ngIf="fieldGeneralVisibility.placeholder">
              <mat-label>Placeholder Text</mat-label>
              <input matInput placeholder="Placeholder Text" formControlName="placeholder">
            </mat-form-field>
            <mat-checkbox formControlName="hidden" *ngIf="fieldGeneralVisibility.hidden">Hidden</mat-checkbox>
            <mat-checkbox formControlName="readOnly" *ngIf="fieldGeneralVisibility.readOnly">Read Only</mat-checkbox>
            <mat-checkbox formControlName="isRequired" *ngIf="fieldGeneralVisibility.isRequired">Required</mat-checkbox>
          </div>
        </ng-container>
      </form>
    </div>
  </mat-step>
  <mat-step [stepControl]="fieldSpecificForm" fusePerfectScrollbar>
    <ng-template matStepLabel>Specific</ng-template>
    <div class="mb-24" fxLayout="row" fxLayoutAlign="start" fxLayout.gt-md="row">
      <form class="mat-card mat-elevation-z4 p-12" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
        [formGroup]="fieldSpecificForm">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 0 auto">
          <div class="h2 mb-12">Field-Specific</div>
          <div class="h2 mb-12">
            <button mat-button matStepperPrevious type="button" color="accent" (click)="stepper.reset()">Reset</button>
            <button mat-raised-button matStepperNext type="button" color="accent" (click)="saveField()">Next</button>
          </div>
        </div>
        <mat-form-field appearance="outline" *ngIf="fieldSpecificVisibility.minimumValue">
          <mat-label>Minimum value</mat-label>
          <input matInput placeholder="Minimum characters" formControlName="minimumValue">
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="fieldSpecificVisibility.maximumValue">
          <mat-label>Maximum value</mat-label>
          <input matInput placeholder="Maximum characters" formControlName="maximumValue">
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="fieldSpecificVisibility.maximumRows">
          <mat-label>Maximum Rows</mat-label>
          <input matInput placeholder="Maximum Rows" formControlName="maximumRows">
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="fieldSpecificVisibility.defaultValue">
          <mat-label>Default Value</mat-label>
          <input matInput placeholder="Default Value" formControlName="defaultValue">
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="fieldSpecificVisibility.currency">
          <mat-label>Currency</mat-label>
          <input matInput placeholder="Currency" formControlName="currency">
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="fieldSpecificVisibility.colspan">
          <mat-label>ColSpan</mat-label>
          <input matInput placeholder="ColSpan" formControlName="colspan">
        </mat-form-field>
      </form>
      <div class="mat-card p-24 mat-elevation-z4" *ngIf="fieldSpecificVisibility.fieldOptions">
        <div class="h2 mb-24">Options</div>
        <mat-form-field>
          <input matInput placeholder="Input" name="option" #newItem>
        </mat-form-field>
        <button mat-icon-button (click)="addOption(newItem.value);newItem.value=''">
          <mat-icon>add</mat-icon>
        </button>
        <div fxLayout="column" fusePerfectScrollbar style="max-height:300px;" class="mat-card mat-elevation-z4" *ngIf="fieldOption">
          <mat-list role="list" *ngFor="let item of fieldOption">
            <mat-list-item role="listitem">{{item}}</mat-list-item>
          </mat-list>
        </div>
      </div>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Accessibility</ng-template>
    You are now done.
    <div fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-button matStepperPrevious type="button" color="accent">Back</button>
        <button mat-button matStepperPrevious type="button" color="accent" (click)="stepper.reset()">Reset</button>
        <button mat-raised-button matStepperNext type="button" color="accent">Save</button>
      </div>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-button matStepperPrevious type="button" color="accent">Back</button>
        <button mat-button matStepperPrevious type="button" color="accent" (click)="stepper.reset()">Reset</button>
        <button mat-raised-button matStepperNext type="button" color="accent">Save</button>
      </div>
    </div>
  </mat-step>
</mat-horizontal-stepper>