<div class="sidebar-content">
  <div class="card mat-white-bg">
    <!-- <div class="header p-24" fxLayout="row" fxLayoutAlign="start center">
      <span class="h5">Template Name</span>
    </div> -->
    <div class="content py-16" fusePerfectScrollbar>
      <div class="nav">
        <div class="nav-item" aria-label="inbox">
          <a class="nav-link" matRipple [ngClass]="{'active mat-accent-bg':filterBy ==='all'}" routerLink="details">
            <span class="title">Details</span>
          </a>
        </div>
        <div class="nav-item" aria-label="frequently contacted">
          <a class="nav-link" matRipple [ngClass]="{'active mat-accent-bg':filterBy ==='frequent'}" routerLink="tabs">
            <div class="title">Tabs</div>
          </a>
        </div>
        <div class="nav-item" aria-label="starred">
          <a class="nav-link" matRipple [ngClass]="{'active mat-accent-bg':filterBy ==='starred'}" routerLink="fields">
            <div class="title">Fields & Relationships</div>
          </a>
        </div>
        <div class="nav-item" aria-label="inbox">
          <a class="nav-link" matRipple [ngClass]="{'active mat-accent-bg':filterBy ==='all'}" routerLink="details">
            <span class="title">Object Limits</span>
          </a>
        </div>
        <div class="nav-item" aria-label="frequently contacted">
          <a class="nav-link" matRipple [ngClass]="{'active mat-accent-bg':filterBy ==='frequent'}" routerLink="details">
            <div class="title">Validation Rules</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>