 @import "src/@core/scss/fuse";
 :host {
     display: flex;
     flex-direction: column;
     flex: 1 0 auto;
     height: 100%;
     .sidebar-content {
         display: flex;
         flex-direction: column;
         padding: 0;
         .card {
             display: flex;
             align-items: flex-start;
             padding: 16px;
             .card-preview {
                 display: flex;
                 min-width: 240px;
             }
         }
         .fuse-card {
             min-width: 260px;
             border: none;
         }
     }
 }

 #add-contact-button {
    position: absolute;
    bottom: 12px;
    right: 12px;
    padding: 0;
    z-index: 99;

    @include media-breakpoint('xs') {
        position: sticky;
        top: calc(100vh - 120px);
        bottom: auto;
    }
}