<div class="sidebar-content">
  <div class="card">
    <div class="header p-24" fxLayout="row" fxLayoutAlign="start center">
      <span class="h5">
        <ng-content></ng-content>
      </span>
    </div>
    <div class="content py-16" fusePerfectScrollbar>
      <div class="nav material2">
        <div class="nav-item" aria-label="Details">
          <a class="nav-link" matRipple [routerLinkActive]="['active', 'accent']" routerLink="details">
            <span class="title">Details</span>
          </a>
        </div>
        <div class="nav-item" aria-label="Tabs">
          <a class="nav-link" matRipple [routerLinkActive]="['active', 'accent']" routerLink="tabs">
            <span class="title">Tabs</span>
          </a>
        </div>
        <div class="nav-item" aria-label="Object Limits">
          <a class="nav-link" matRipple [routerLinkActive]="['active', 'accent']">
            <span class="title">Object Limits</span>
          </a>
        </div>
        <div class="nav-item" aria-label="Validation Rules">
          <a class="nav-link" matRipple [routerLinkActive]="['active', 'accent']">
            <div class="title">Validation Rules</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>