 @import "src/@core/scss/fuse";
 :host {
     display: flex;
     flex-direction: column;
     flex: 1 0 auto;
     height: 100%;
     .sidebar-content {
         display: flex;
         flex-direction: column;
         padding: 0;
         .card {
             display: flex;
             align-items: flex-start;
             padding: 16px;
             .card-preview {
                 display: flex;
                 min-width: 240px;
             }
         }
         .fuse-card {
             min-width: 260px;
             border: none;
             .static {
                 position: sticky;
                 top: 0;
                 z-index: 999;
             }
         }
         mat-icon {
             font-size: 14px;
             margin-top: 2px;
         }
     }
 }