<div class="toolbar px-24 py-8">
  <div fxLayout="row" fxLayoutAlign="center start">
    <button mat-icon-button *ngIf="isEdit" (click)="isEdit = false">
      <mat-icon class="secondary-text">arrow_back</mat-icon>
    </button>
  </div>
  <div fxLayout="row" fxLayoutAlign="center end">
    <button mat-raised-button class="accent mr-8" *ngIf="!isEdit" [routerLink]="['new']">Create</button>
  </div>
</div>
<mat-table [dataSource]="dataSource" class="data-table" #table [@animateStagger]="{value:'30'}" fusePerfectScrollbar matSort>
  <ng-container matColumnDef="caption">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.caption}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="controlType">
    <mat-header-cell *matHeaderCellDef> Control Type </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.controlType}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="tabName">
    <mat-header-cell *matHeaderCellDef> Tab Name </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.tabName}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="isRequired">
    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-xs> Is Required? </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-checkbox checked="row.isRequired"></mat-checkbox>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let row">
      <div fxFlex="row">
        <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More" (click)="$event.stopPropagation();">
          <mat-icon class="secondary-text">more_vert</mat-icon>
        </button>
        <mat-menu #moreMenu="matMenu">
          <button mat-menu-item aria-label="edit">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item aria-label="remove">
            <mat-icon>delete</mat-icon>
            <span>Remove</span>
          </button>
          <button mat-menu-item aria-label="archive">
            <mat-icon>archive</mat-icon>
            <span>Archive</span>
          </button>
        </mat-menu>
      </div>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="data-row" [@animate]="{value:'*',params:{y:'100%'}}"
    [routerLink]="[row.id]"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" pageSize="10" showFirstLastButtons></mat-paginator>