<div id="task" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/task'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        Edit {{task.name}} - {{task.dataId}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        New Task
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Task Detail</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button class="save-product-button" [disabled]="taskForm.invalid" *ngIf="pageType ==='new'"
                (click)="saveTask()">
                <span>ADD</span>
            </button>

            <button mat-raised-button class="save-product-button" [disabled]="taskForm.invalid || taskForm.pristine"
                *ngIf="pageType ==='edit'" (click)="saveTask()">
                <span>SAVE</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="taskForm" [formGroup]="taskForm" class="product w-100-p" fxLayout="column" fxFlex>

                    <mat-tab-group>

                        <mat-tab label="Basic Info">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Task Name</mat-label>
                                    <input matInput placeholder="Task Name" name="name" formControlName="name" required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Description</mat-label>
                                    <textarea matInput placeholder="Description" name="description" formControlName="description"
                                        rows="5">
                                        </textarea>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">

                                    <mat-label>Status</mat-label>
                                    <input matInput placeholder="Status" name="status" formControlName="status"
                                        required>

                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Priority</mat-label>
                                    <input matInput placeholder="Priority" name="priority" formControlName="priority"
                                        required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Start Date</mat-label>
                                    <input matInput placeholder="Start Date" name="startDate" formControlName="startDate"
                                        [matDatepicker]="startDatePicker" required>
                                    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                                    <mat-datepicker #startDatePicker></mat-datepicker>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Due Date</mat-label>
                                    <input matInput placeholder="Due Date" name="dueDate" formControlName="dueDate"
                                        required [matDatepicker]="dueDatePicker">
                                    <mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
                                    <mat-datepicker #dueDatePicker></mat-datepicker>
                                </mat-form-field>

                            </div>

                        </mat-tab>

                        <mat-tab label="Attachments">

                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div fxLayout="row wrap" fxLayoutAlign="start start">


                                </div>
                            </div>

                        </mat-tab>

                    </mat-tab-group>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>