:host {

    .content {

        form {
            width: 100%;
            max-width: 800px !important;
        }

        .form-errors-model {
            flex: 1;

            code {
                background: none !important;
            }
        }

        .horizontal-stepper-wrapper,
        .vertical-stepper-wrapper {
            max-width: 800px;
        }
    }
    .toolbar {
        padding-left: 16px !important;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        height: 64px;
        min-height: 64px;
        max-height: 64px;
    }
}