<!-- 
<div id="customTabManager" class="page-layout carded fullwidth inner-scroll">
  <div class="top-bg accent"></div>
  <div class="center">
    <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
      fxLayoutAlign.gt-xs="space-between center">
      <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
        <span class="logo-text h1" [routerLink]="['/customObject/setup']">
          Tabs
        </span>
        <div class="subtitle secondary-text">
          <span>Template Tabs Setup</span>
        </div>
      </div>
      <div class="search-input-wrapper mx-24 m-md-0" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
        <label for="search" class="mr-8">
          <mat-icon class="secondary-text">search</mat-icon>
        </label>
        <mat-form-field floatLabel="never" fxFlex="1 0 auto">
          <input id="search" matInput #filter placeholder="Quick Find" (keyup)="applyFilter($event.target.value)">
        </mat-form-field>
      </div>
      <button mat-raised-button [routerLink]="['/tab/', 'new']" class="add-user-button mat-white-bg my-12 mt-sm-0">
        <span>CREATE</span>
      </button>
    </div>
    <div class="content" fxFlexAlign="row">
      <div class="content-card">
        <div class="example-loading-shade" *ngIf="isLoading">
          <mat-spinner *ngIf="isLoading"></mat-spinner>
        </div>
        <mat-table class="tabs-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'10'}">
          <ng-container cdkColumnDef="caption">
            <mat-header-cell *cdkHeaderCellDef> Tab Name </mat-header-cell>
            <mat-cell *cdkCellDef="let row"> {{row.caption}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
              <div fxFlex="row">
                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More" (click)="$event.stopPropagation();">
                  <mat-icon class="secondary-text">more_vert</mat-icon>
                </button>
                <mat-menu #moreMenu="matMenu">
                  <button mat-menu-item aria-label="edit">
                    <mat-icon>edit</mat-icon>
                    <span>Edit</span>
                  </button>
                  <button mat-menu-item aria-label="remove">
                    <mat-icon>delete</mat-icon>
                    <span>Remove</span>
                  </button>
                  <button mat-menu-item aria-label="archive">
                    <mat-icon>archive</mat-icon>
                    <span>Archive</span>
                  </button>
                </mat-menu>
              </div>
            </mat-cell>
          </ng-container>
          <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *cdkRowDef="let row; columns: displayedColumns;" matRipple class="tab" [@animate]="{value:'*',params:{y:'100%'}}"
            [routerLink]="[row.id]"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    
      </div>
    </div>
  </div>
</div> -->
<div *ngIf="!tabs" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
  <span class="no-todos-text hint-text">There are no Tabs!</span>
</div>
<div class="tab-list" ngxDroppable (out)="onDrop($event)" [@animateStagger]="{value:'50'}">
  <tab-list-item class="tab-list-item has-handle" *ngFor="let taskItem of tabs" 
    [tab]="taskItem" 
    ngxDraggable
    (click)="readTab(taskItem)"
    matRipple 
    [@animate]="{value:'*',params:{y:'100%'}}">
  </tab-list-item>
</div>
