<div class="toolbar px-24 py-8">
  <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 0 auto">
    <button mat-raised-button class="save-product-button" [routerLink]="['/admin/form/dashboard/folder/uncategorised']">
      <span>Back to Forms</span>
    </button>
    <button mat-raised-button class="save-product-button" routerLink="tab/new">
      <span>Create</span>
    </button>
  </div>
</div>


<mat-table [dataSource]="dataSource" class="data-table" #table [@animateStagger]="{value:'30'}" fusePerfectScrollbar
  matSort>
  <ng-container matColumnDef="caption">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.caption}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="templateName">
    <mat-header-cell *matHeaderCellDef> Form Title </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.templateName}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="hidden">
    <mat-header-cell *matHeaderCellDef> Is Hidden? </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-checkbox [indeterminate]="row.hidden"></mat-checkbox>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="isOptional">
    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-xs> Mark as Optional? </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-checkbox [indeterminate]="row.isOptional"></mat-checkbox>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let row">
      <div fxFlex="row">
        <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More" (click)="$event.stopPropagation();">
          <mat-icon class="secondary-text">more_vert</mat-icon>
        </button>
        <mat-menu #moreMenu="matMenu">
          <button mat-menu-item aria-label="edit">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item aria-label="remove" (click)="removeField(row.id)">
            <mat-icon>delete</mat-icon>
            <span>Remove</span>
          </button>
          <button mat-menu-item aria-label="archive">
            <mat-icon>archive</mat-icon>
            <span>Archive</span>
          </button>
        </mat-menu>
      </div>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="data-row" [@animate]="{value:'*',params:{y:'100%'}}"
    [routerLink]="['/tabs/', row.id]"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" pageSize="10" showFirstLastButtons></mat-paginator>