<mat-form-field style="width:100%;padding-bottom:10px;" fxFlex="100" appearance="outline" [formGroup]="group"
    [hintLabel]="config.hint">
    <mat-label>{{config.label}}</mat-label>
    <input matInput [formControlName]="config.name" #input [placeholder]="placeHolder" [errorStateMatcher]="matcher"
        [maxlength]="maximumLength" [required]="required">
    <button mat-button *ngIf="config.name.value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
    </button>
    <mat-hint align="end" *ngIf="hint">
        {{input.value?.length || 0}}/{{maximumLength}}</mat-hint>
    <mat-error *ngIf="!isValid">{{ config.label }} is required</mat-error>
</mat-form-field>