<mat-form-field style="width:100%;padding-bottom:10px;" fxFlex="100" appearance="outline" [formGroup]="group"
    [hintLabel]="hint">
    <mat-label>{{field.caption}}</mat-label>
    <input matInput [formControlName]="field.name" #input [placeholder]="placeHolder"
        [errorStateMatcher]="matcher" [maxlength]="maximumLength" [required]="required">
    <button mat-button *ngIf="field.name.value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
    </button>
    <mat-hint align="end" *ngIf="hint">
        {{input.value?.length || 0}}/{{maximumLength}}</mat-hint>
    <mat-error>{{ field.caption }} is required</mat-error>
</mat-form-field>