<div id="users" class="page-layout carded fullwidth inner-scroll">
    <div class="top-bg mat-accent-bg"></div>
    <div class="center">
        <div class="header mat-accent-bg" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
            <div class="logo my-12 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    shopping_basket
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Users
                </span>
            </div>
            <div class="search-input-wrapper mx-24 m-md-0" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                <label for="search" class="mr-8">
                    <mat-icon class="secondary-text">search</mat-icon>
                </label>
                <mat-form-field floatLabel="never" fxFlex="1 0 auto">
                    <input id="search" matInput #filter placeholder="Search">
                </mat-form-field>
            </div>
            <button mat-raised-button [routerLink]="['/user/', 'new']" class="add-user-button mat-white-bg my-12 mt-sm-0">
                <span>ADD NEW USER</span>
            </button>
        </div>
        <div class="content-card mat-white-bg">
            <mat-table class="users-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                    <mat-cell *matCellDef="let user">
                        <p class="text-truncate">{{user.id}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Image Column -->
                <ng-container matColumnDef="image">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let user">
                        <img class="user-image" *ngIf="user.images[0]" [alt]="user.name" [src]="user.images[0].url" />
                        <img *ngIf="!user.images[0]" [src]="'assets/images/ecommerce/user-image-placeholder.png'">
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="userName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                    <mat-cell *matCellDef="let user">
                        <p class="text-truncate">{{user.userName}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Category Column -->
                <ng-container matColumnDef="emailAddress">
                    <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md>Email</mat-header-cell>
                    <mat-cell *matCellDef="let user" fxHide fxShow.gt-md>
                        <p class="category text-truncate">
                            {{user.emailAddress}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Price Column -->
                <ng-container matColumnDef="firstName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>firstName</mat-header-cell>
                    <mat-cell *matCellDef="let user" fxHide fxShow.gt-xs>
                        <p class="price text-truncate">
                            {{user.firstName}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Quantity Column -->
                <ng-container matColumnDef="lastName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>lastName</mat-header-cell>
                    <mat-cell *matCellDef="let user" fxHide fxShow.gt-sm>

                        <span class="quantity-indicator text-truncate" [ngClass]="{'mat-red-500-bg':user.quantity <= 5, 'mat-amber-500-bg':user.quantity > 5 && user.quantity <= 25,'mat-green-600-bg':user.quantity > 25}">
                        </span>
                        <span>
                            {{user.lastName}}
                        </span>

                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="roleName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Role</mat-header-cell>
                    <mat-cell *matCellDef="let user">
                        <p class="text-truncate">{{user.roleName}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Active Column -->
                <ng-container matColumnDef="active">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Active</mat-header-cell>
                    <mat-cell *matCellDef="let user" fxHide fxShow.gt-xs>
                        <mat-icon *ngIf="user.active" class="active-icon mat-green-600-bg s-16">check</mat-icon>
                        <mat-icon *ngIf="!user.active" class="active-icon mat-red-500-bg s-16">close</mat-icon>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let user; columns: displayedColumns;" class="user" matRipple [routerLink]="['/user/', user.id]">
                </mat-row>

            </mat-table>

            <mat-paginator #paginator [length]="dataSource.paginatedData" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
    </div>
</div>