<div id="menuItem" class="page-layout carded fullwidth inner-scroll">
  <div class="top-bg mat-accent-bg"></div>
  <div class="center">
    <div class="header mat-accent-bg" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutAlign="start center">
        <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/settings/menuManagement'">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          <div class="h2" *ngIf="pageType ==='edit'">
            Edit Menu - {{menuItem.caption}}
          </div>
          <div class="h2" *ngIf="pageType ==='new'">
            New Menu
          </div>
          <div class="subtitle secondary-text">
            <span>Navigation Menu Item</span>
          </div>
        </div>
      </div>
      <button mat-raised-button class="save-product-button mat-white-bg" [disabled]="menuForm.invalid" *ngIf="pageType ==='new'"
        (click)="addMenu()">
        <span>ADD</span>
      </button>
      <button mat-raised-button class="save-product-button mat-white-bg" [disabled]="menuForm.invalid || menuForm.pristine"
        *ngIf="pageType ==='edit'" (click)="updateMenu()">
        <span>SAVE</span>
      </button>
    </div>
    <div class="content-card mat-white-bg">
      <div class="content">
        <form name="menuForm" [formGroup]="menuForm" class="property w-100-p" fxLayout="column" fxFlex>
          <mat-tab-group>
            <mat-tab label="Identification">
              <div class="tab-content p-24" fusePerfectScrollbar>
                <mat-form-field class="w-100-p">
                  <input matInput placeholder="Caption" formControlName='caption' maxlength="20">
                </mat-form-field>
                <mat-form-field class="w-100-p">
                  <input matInput placeholder="Route" formControlName='route'>
                </mat-form-field>
                <mat-form-field class="w-100-p">
                  <input matInput placeholder="Icon" formControlName='iconName'>
                </mat-form-field>
                <mat-form-field class="w-100-p">
                  <input matInput placeholder="Sort Order" formControlName='sortOrder' type="number">
                </mat-form-field>
                <div class="w-100-p">
                    <mat-checkbox formControlName="hasChildren">Has Children</mat-checkbox>
                </div>
                <div class="w-100-p">
                    <mat-checkbox formControlName="isVisible">Is Visible</mat-checkbox>
                </div>
                <mat-form-field class="w-100-p">
                  <mat-select placeholder="Menu Groups" formControlName='menuGroupId' [compareWith]="compareFn">
                    <mat-option *ngFor="let group of menuGroups" [value]="group.id">
                      {{group.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="w-100-p">
                  <mat-select placeholder="Parent Menu" formControlName='parentId' [compareWith]="compareFn">
                    <mat-option *ngFor="let parentMenuItem of parentMenuItems" [value]="parentMenuItem.id">
                      {{parentMenuItem.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </mat-tab>
          </mat-tab-group>
        </form>
      </div>
    </div>
  </div>
</div>