.add-files-btn {
    float: right;
}

:host {
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.actions {
    justify-content: flex-end;
}

.container {
    height: 100%;
}

.upload-table-content{
    min-height: 220px;
}