<div class="toolbar px-24 py-8">
  <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 0 auto">
    <span>{{categoryName}}</span>
    <button mat-raised-button class="save-product-button" (click)="addNewForm()">
      <span>Create New Form</span>
    </button>
  </div>
</div>
<ng-container *ngIf="forms">
  <div class="toolbar px-24 py-8">
    <mat-checkbox [(ngModel)]="selected" (ngModelChange)="onSelectedChange()" class="mr-16" fxFlex="0 1 auto" (click)="$event.stopPropagation()">
    </mat-checkbox>
    <span class="mr-8">Move To</span>
    <span class="mr-8">|</span>
    <span class="mr-8">Copy</span>
    <span class="mr-8">|</span>
    <span class="mr-8">Delete</span>
    <span class="mr-8">|</span>
    <span class="mr-8">Archived</span>
  </div>
</ng-container>

<ng-container *ngIf="forms">
  <div fxLayout="row" fxLayoutAlign="start center" class="item" *ngFor="let link of forms">
    <mat-checkbox [(ngModel)]="selected" (ngModelChange)="onSelectedChange()" class="mr-16" fxFlex="0 1 auto" (click)="$event.stopPropagation()">
    </mat-checkbox>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex [routerLink]="['/admin/form/builder/' + link.id + '/' + link.name]">
      <div class="info" fxFlex fxFlexLayout="column">
        <div class="title text-truncate">
          {{ link.name }}
        </div>
        <div class="notes text-truncate">
          Some Template Description...
        </div>
      </div>
      <div class="actions" fxLayout="row" fxLayoutAlign="start center">
        <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More" (click)="$event.stopPropagation()"
          fxHide.xs>
          <mat-icon class="secondary-text">more_vert</mat-icon>
        </button>
        <mat-menu #moreMenu="matMenu">
          <button mat-menu-item aria-label="remove">
            <mat-icon>delete</mat-icon>
            <span>Remove</span>
          </button>
          <button mat-menu-item aria-label="archive">
            <mat-icon>archive</mat-icon>
            <span>Archive</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="!forms">
  <div fxLayout="column" fxLayoutAlign="center center">
    <p>This category is empty.</p>
    <div>
      <button mat-raised-button class="save-product-button" (click)="addNewForm()">
        <span>Create New Form</span>
      </button>
    </div>
  </div>
</ng-container>