<div class="toolbar px-24 py-8">
  <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 0 auto">
    <span>{{categoryName}}</span>
    <div>
      <ng-container *ngIf="canEditCategory">
        <button mat-mini-fab color="warn" class="mr-8" (click)="deleteCategory()">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-raised-button class="toolbar-button mr-8" (click)="editCategory()" color="accent">
          <mat-icon class="s-14 mr-8">settings</mat-icon>
          <span>Edit Category</span>
        </button>
      </ng-container>

      <button mat-raised-button class="toolbar-button" (click)="addNewForm()" color="accent" *ngIf="canAddForms">
        <mat-icon class="s-14 mr-8">create</mat-icon>
        <span>Create New Form</span>
      </button>
    </div>
  </div>
</div>
<ng-container *ngIf="forms && formOptions">
  <div class="toolbar px-24 py-8" [ngClass]="{disabled : !selection.hasValue()}">
    <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
      [indeterminate]="selection.hasValue() && !isAllSelected()" class="mr-16" fxFlex="0 1 auto">
    </mat-checkbox>
    <div *ngIf="restoreOption">
      <button mat-button (click)="DeleteForms()" [disabled]="!selection.hasValue()">
        <mat-icon>restore_from_trash</mat-icon><span class="mr-8">Restore</span>
      </button>
      <button mat-button (click)="DeleteForms()" [disabled]="!selection.hasValue()"> 
        <mat-icon>delete_forever</mat-icon><span>Trash</span>
      </button>
    </div>
    <div *ngIf="!restoreOption">
      <button mat-button (click)="DeleteForms()" class="toolbar-button" [disabled]="!selection.hasValue()">
        <mat-icon>shuffle</mat-icon><span class="mr-8">Move To</span>
      </button>
      <button mat-button (click)="DeleteForms()" class="toolbar-button" [disabled]="!selection.hasValue()">
        <mat-icon>flip_to_front</mat-icon><span class="mr-8">Copy</span>
      </button>
      <button mat-button (click)="DeleteForms()" class="toolbar-button" [disabled]="!selection.hasValue()">
        <mat-icon>delete</mat-icon><span class="mr-8">Delete</span>
      </button>
      <button mat-button (click)="ArchiveForms()" class="toolbar-button" [disabled]="!selection.hasValue()">
        <mat-icon>archive</mat-icon><span class="mr-8">Archive</span>
      </button>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="forms">
  <div fxLayout="row" fxLayoutAlign="start center" class="item" *ngFor="let link of forms">
    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(link) : null" [checked]="selection.isSelected(link)"
      class="mr-16" fxFlex="0 1 auto">
    </mat-checkbox>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex [routerLink]="['/admin/form/builder/' + link.id + '/' + link.name]">
      <div class="info" fxFlex fxFlexLayout="column">
        <div class="title text-truncate">
          {{ link.name }}
        </div>
        <div class="notes text-truncate">
          Some Template Description...
        </div>
      </div>
      <div class="actions" fxLayout="row" fxLayoutAlign="start center">
        <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More" (click)="$event.stopPropagation()"
          fxHide.xs>
          <mat-icon class="secondary-text">more_vert</mat-icon>
        </button>
        <mat-menu #moreMenu="matMenu">
          <button mat-menu-item aria-label="remove">
            <mat-icon>delete</mat-icon>
            <span>Remove</span>
          </button>
          <button mat-menu-item aria-label="archive">
            <mat-icon>archive</mat-icon>
            <span>Archive</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="!forms && canAddForms">
  <div fxLayout="column" fxLayoutAlign="center center" fxFlex="1 0 auto">
    <p>This category is empty.</p>
    <div>
      <button mat-raised-button class="save-product-button" (click)="addNewForm()">
        <mat-icon>create</mat-icon>
        <span>Create New Form</span>
      </button>
    </div>
  </div>
</ng-container>