<div class="center" id="tabs">
    <div class="content-card mat-white-bg" [ngClass]="{'current-todo-selected':currentTodo}">
        <div class="toolbar px-24 py-8">
          <button mat-raised-button class="mat-accent-bg" (click)="AddTab()">Create</button>
          <div *ngIf="currentTodo" fxHide.gt-lg>
              <button mat-icon-button (click)="deselectCurrentTodo()">
                  <mat-icon class="secondary-text">arrow_back</mat-icon>
              </button>
          </div>
        </div>
        <div class="content" fxFlexAlign="row">
          <tab-list fusePerfectScrollbar fxFlex></tab-list>
          <tab-detail fusePerfectScrollbar fxFlex></tab-detail>
        </div>
      </div>
</div>
