<div id="builder" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">


            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    shopping_basket
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    - Form Name -
                </span>
            </div>

            <div fxLayout="column" fxLayoutAlign="start center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="center center">
                <button mat-raised-button routerLink="build" class="save-product-button mr-16" routerLinkActive="active">
                    <span>Build</span>
                </button>
                 <button mat-raised-button routerLink="settings" class="save-product-button mr-16" routerLinkActive="active">
                    <span>Settings</span>
                </button>
                <button mat-raised-button routerLink="tabs" class="save-product-button mr-16" routerLinkActive="active">
                    <span>Tabs</span>
                </button>
            </div>
        </div>

        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card" fusePerfectScrollbar>
            <router-outlet></router-outlet>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>