<div id="customManagement" class="page-layout simple full-width">
  <div class="content p-24">
    <div fxLayout="row" fxLayoutAlign="start start" class="content-group">
      <mat-card class="example-card mat-white-bg mat-elevation-z4" *ngIf="!showFieldsManagement">
        <mat-card-header>
          <mat-card-title>Categories</mat-card-title>
          <mat-card-subtitle>Custom Template Groups</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-nav-list>
            <mat-list-item *ngFor="let category of categories" (click)="getTemplate(category.id)">
              <a matLine (click)="getTemplate(category.id)">{{ category.categoryName }}</a>
              <button mat-icon-button>
                <mat-icon>note</mat-icon>
              </button>
            </mat-list-item>
          </mat-nav-list>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-raised-button color="accent" (click)="add('category')">Add New</button>
        </mat-card-actions>
      </mat-card>
      <div *ngIf="showTemplate && !showFieldsManagement" id="templateDiv" [@slideInLeft]>
        <mat-card class="example-card mat-white-bg mat-elevation-z4" *ngIf="groupTemplate">
          <mat-card-header>
            <mat-card-title>Templates</mat-card-title>
            <mat-card-subtitle>{{groupTemplate?.groupName}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-nav-list>
              <mat-list-item *ngFor="let template of groupTemplate.templates">
                <a matLine (click)="getTabs(template.id)">{{ template.templateName }}</a>
                <button mat-icon-button>
                  <mat-icon>note</mat-icon>
                </button>
              </mat-list-item>
            </mat-nav-list>
            <p *ngIf="groupTemplate.templates?.length === 0">No Templates found!</p>
          </mat-card-content>
          <mat-card-actions align="end">
            <button mat-raised-button color="accent" (click)="add('template',groupTemplate?.groupId)">Add New</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div *ngIf="showTab" [@slideInLeft]>
        <mat-card class="example-card mat-white-bg mat-elevation-z4" *ngIf="tabs">
          <mat-card-header>
            <mat-card-title>Tabs</mat-card-title>
            <mat-card-subtitle>{{tabs.templateName}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-nav-list>
              <mat-list-item *ngFor="let tab of tabs.customTabs">
                <a matLine (click)="manageFields(tab.tabId)">{{ tab.caption }} - {{ tab.customFields.length}}</a>
                <button mat-icon-button>
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button>
                  <mat-icon style="color:red;">delete</mat-icon>
                </button>
              </mat-list-item>
            </mat-nav-list>
            <p *ngIf="tabs.customTabs?.length === 0" class="text-center">No Tabs found!</p>
          </mat-card-content>
          <mat-card-actions align="end">
            <button mat-raised-button color="accent" *ngIf="showFieldsManagement" (click)="showFieldsManagement = false">Back</button>
            <button mat-raised-button color="accent" (click)="add('tab',tabs.id)">Add New</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div *ngIf="showFields && showFieldsManagement" [@slideInRight] style="width:100%;flex-direction: column;">
        <mat-card class="mat-white-bg mat-elevation-z4">
          <manage-fields [tabId]="selectedTabId"></manage-fields>
        </mat-card>
      </div>
    </div>
  </div>
</div>