@import "src/@core/scss/fuse";
#customManagement {
    .content {
        // max-width: 960px;
        width: 100%;
        margin: 0 auto;
        .content-group {
            @include media-breakpoint-down('xs') {
                flex-direction: column !important;
            }
        }
        .example-card {
            width: 365px;
            min-width: 300px;
            margin-right: 25px;
            @include media-breakpoint-down('xs') {
                width: 330px;
                margin: 16px 0;
                flex-direction: column;
            }
            .mat-list-item {
                text-decoration: none !important;
                a:hover {
                    text-decoration: none !important;
                }
            }
        }
    }
}