<!-- <mat-form-field fxFlex="100" [formGroup]="group">
    <ng-container *ngIf="options != null">
        <mat-select [placeholder]="config.label" [formControlName]="config.name">
            <mat-option matInput *ngFor="let item of options" [value]="item.Id">{{item.Value}}</mat-option>
        </mat-select>
    </ng-container>
    <mat-error *ngIf="!isValid">{{ config.label }} is required</mat-error>
</mat-form-field> -->

<div fxFlex="100" [formGroup]="group">
    <label>{{ config.label }}</label>
    <select [formControlName]="config.name">
        <option value="">{{ config.placeholder }}</option>
        <option *ngFor="let option of config.options">
            {{ option.value }}
        </option>
    </select>
</div>