<!-- <mat-form-field fxFlex="100" [formGroup]="group">
    <ng-container *ngIf="options != null">
        <mat-select [placeholder]="config.label" [formControlName]="config.name">
            <mat-option matInput *ngFor="let item of options" [value]="item.Id">{{item.Value}}</mat-option>
        </mat-select>
    </ng-container>
    <mat-error *ngIf="!isValid">{{ config.label }} is required</mat-error>
</mat-form-field> -->

<mat-form-field fxFlex="100" [formGroup]="group">
    <div fxLayout="row" fxLayoutGap="25px">
        <div fxLayout="row" fxLayoutGap="25px">
            <mat-label>{{config.label}}</mat-label>
        </div>
        <div fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto">
            <select matNativeControl [formControlName]="config.name">
                <option label="--Select Country --"></option>
                <option *ngFor="let option of config.fieldChoices" [value]="option.id">
                    {{ option.value }}
                </option>
            </select>
        </div>
    </div>
</mat-form-field>