<div class="toolbar px-24 py-8">
  <button mat-raised-button class="accent" [routerLink]="['new']">Create</button>
</div>
<mat-table [dataSource]="dataSource" class="data-table" #table [@animateStagger]="{value:'50'}" fusePerfectScrollbar>
  <ng-container matColumnDef="caption">
    <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.caption}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="data-row" [@animate]="{value:'*',params:{y:'100%'}}"
    [routerLink]="[row.id]"></mat-row>
</mat-table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" pageSize="10" showFirstLastButtons></mat-paginator>