<div class="toolbar px-24 py-8">
    <button mat-icon-button>
        <mat-icon class="secondary-text" [routerLink]="['../']">arrow_back</mat-icon>
    </button>
</div>
<div class="tab-content" *ngIf="tab">
  <form [formGroup]="tabForm" (submit)="saveTab()">
    <mat-form-field class="title mt-8" floatLabel="never" fxFill appearance="outline">
      <mat-label>Tab Name</mat-label>
      <input matInput name="caption" formControlName="caption" required />
    </mat-form-field>
    <mat-checkbox fxFill fxLayout="row" formControlName="isVisible">Is Visible</mat-checkbox>
    <mat-checkbox fxFill fxLayout="row" formControlName="isOptional">Mark as optional</mat-checkbox>
    <button *ngIf="!tab.id" mat-raised-button color="accent" [disabled]="tabForm.invalid || tabForm.pristine">SAVE</button>
    <button *ngIf="tab.id" mat-raised-button color="accent" [disabled]="tabForm.invalid || tabForm.pristine">UPDATE</button>
  </form>
</div>