@import 'src/@core/scss/fuse';
tab-detail {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    .tab-content {
        padding: 24px;
        .title {
            font-size: 17px;
            font-weight: 500;
        }
        button{
            margin-top: 50px;
        }
    }
}