@import "src/@core/scss/fuse";

:host {
    width: 100%;
    .center {
        .content-card {

            @include media-breakpoint-down(lg) {

                tab-list {
                    border-right: 0;
                }

                tab-list,
                tab-detail {
                    flex: 1 0 100%;
                }

                tab-detail {
                    display: none !important;
                }
            }
        }
    }
}

