<div id="customFields" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-xs="row"
    fxLayoutAlign.gt-xs="space-between center">
    <div fxLayout="row" fxLayoutAlign="start center">
      <button mat-icon-button class="sidebar-toggle mr-12" fxHide.gt-md (click)="toggleSidebar('contacts-main-sidebar')">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="logo" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">account_box
        </mat-icon>
        <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          Tabs & Custom Fields
        </span>
      </div>
    </div>
    <div class="search-input-wrapper mt-16 ml-8 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
      <label for="search" class="mr-8">
        <mat-icon>search</mat-icon>
      </label>
      <mat-form-field mat-no-float class="m-0" floatLabel="never">
        <input matInput [formControl]="searchInput" id="search" placeholder="Search for anything">
      </mat-form-field>
    </div>
    <button mat-raised-button (click)="addNewField()" class="add-user-button mat-white-bg my-12 mt-sm-0">
      <span>ADD NEW</span>
    </button>
  </div>
  <div class="content">
    <fuse-sidebar class="sidebar" name="app-manage-tabs" position="left" lockedOpen="gt-sm">
      <div class="content" fusePerfectScrollbar>
        <app-manage-tabs [@animate]="{value:'*'}"></app-manage-tabs>
      </div>
    </fuse-sidebar>
    <div class="center p-24 pb-56 pr-sm-92" fusePerfectScrollbar>
      <div class="content mat-white-bg mat-elevation-z4">
        <mat-table #table [dataSource]="dataSource" matSort class="fields-table" [@animateStagger]="{value:'50'}">
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Control Type </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.type}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="isMandatory">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Is Required Field? </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <mat-checkbox [checked]="row.isMandatory" (click)="$event.stopPropagation()" (change)="$event ? makeRequired(row.id) : null"></mat-checkbox>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>
        <mat-paginator #paginator [length]="resultsLength" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>