<mat-toolbar>{{tabTitle}}</mat-toolbar>

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<button mat-raised-button (click)="addNewField()">Add New</button>
<div class="mat-elevation-z8" *ngIf="dataSource != null">
  <div class="example-loading-shade" *ngIf="isLoading">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </div>
  <div *ngIf="dataSource == null">
    <p>No Fields Available</p>
  </div>
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Control Type </th>
      <td mat-cell *matCellDef="let row"> {{row.type}} </td>
    </ng-container>
    <ng-container matColumnDef="isMandatory">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Is Required Field? </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox [checked]="row.isMandatory" (click)="$event.stopPropagation()" (change)="$event ? makeRequired(row.id) : null"></mat-checkbox>
      </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [length]="resultsLength" showFirstLastButtons></mat-paginator>
</div>