<div class="toolbar px-24 py-8">
    <span>Form Controls</span>
    <div fxLayout="row" fxLayoutAlign="end end" fxFlex="1 0 auto">
        <button mat-raised-button class="mr-12" routerLink="/admin/form/dashboard/folder/uncategorised">
            <mat-icon class="mr-2">navigate_before</mat-icon>
            <span>Back to Forms</span>
        </button>
        <button mat-raised-button class="save-product-button" color="accent" routerLink="field">
            <span>Create</span>
        </button>
    </div>
</div>


<mat-table [dataSource]="dataSource" class="data-table" #table [@animateStagger]="{value:'30'}" fusePerfectScrollbar
    matSort>
    <ng-container matColumnDef="caption">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.caption}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef> Field Type </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.type}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="tabName">
        <mat-header-cell *matHeaderCellDef> Tab Name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.tabName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
            <div fxFlex="row" fxLayoutAlign="end">
                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More" (click)="$event.stopPropagation();">
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                </button>
                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item aria-label="edit">
                        <mat-icon>edit</mat-icon>
                        <span>Edit</span>
                    </button>
                    <button mat-menu-item aria-label="remove" (click)="removeField(row.id)">
                        <mat-icon>delete</mat-icon>
                        <span>Remove</span>
                    </button>
                    <button mat-menu-item aria-label="archive">
                        <mat-icon>archive</mat-icon>
                        <span>Archive</span>
                    </button>
                </mat-menu>
            </div>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="data-row" [@animate]="{value:'*',params:{y:'100%'}}"
        [routerLink]="['field/' +row.id]"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" pageSize="10" showFirstLastButtons></mat-paginator>