<div id="customEntityRecordForm" class="page-layout carded fullwidth inner-scroll">
    <div class="top-bg accent"></div>
    <div class="center">
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'../'">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{title}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        {{title}}
                    </div>
                </div>
            </div>
            <button mat-raised-button class="save-product-button mat-white-bg" type="submit" [disabled]="!customRecordForm.valid || customRecordForm.pristine"
                *ngIf="pageType ==='new'" (click)="saveRecord()">
                <span>ADD</span>
            </button>
            <button mat-raised-button class="save-product-button mat-white-bg" [disabled]="!customRecordForm.valid || customRecordForm.pristine"
                *ngIf="pageType ==='edit'" (click)="saveRecord()">
                <span>SAVE</span>
            </button>
        </div>
        <div class="content-card">
            <div class="content" [formGroup]="customRecordForm">
                <ng-container *ngIf="record == null;else customForm">Loading tabs...</ng-container>
                <ng-template #customForm>
                    <form class="p-12" [formGroup]="customRecordForm">
                        <mat-tab-group *ngIf="record">
                            <mat-tab *ngFor="let tab of record.tabs">
                                <ng-template mat-tab-label="mat-tab-label">{{tab.caption}}</ng-template>
                                <dynamic-form [config]="tab.fields" #form="dynamicForm" [form]="customRecordForm">
                                </dynamic-form>
                            </mat-tab>
                        </mat-tab-group>
                        <!-- <pre>{{ customRecordForm.value | json }}</pre> -->
                    </form>
                </ng-template>
            </div>
        </div>
    </div>
</div>