<div class="page-layout carded left-sidebar inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- SIDEBAR -->
  <fuse-sidebar class="sidebar" name="form-categories-sidebar" position="left" lockedOpen="gt-md">

    <!-- SIDEBAR HEADER -->
    <div class="header p-24 accent">
      <h2 class="m-0">Form Builder</h2>
    </div>
    <!-- / SIDEBAR HEADER -->

    <!-- SIDEBAR CONTENT -->
    <div class="content" fusePerfectScrollbar>
      <div class="sidebar-content">
        <div class="card">
          <div class="content py-16" fusePerfectScrollbar>
            <div class="nav material2">
              <div class="nav-item" aria-label="Uncategorised" routerLink="folder/uncategorised" routerLinkActive="active">
                <a class="nav-link">
                  <div class="title">Uncategorised</div>
                </a>
              </div>
              <div class="nav-item" aria-label="inbox" *ngFor="let link of categories | async" [routerLink]="['folder/',link.id]"
                routerLinkActive="active">
                <a class="nav-link">
                  <span class="title">{{ link.name }}</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </fuse-sidebar>

  <!-- CENTER -->
  <div class="center">

    <!-- CONTENT HEADER -->
    <!-- <div class="header accent p-24">
      <h2 class="m-0">Left sidebar with inner scroll</h2>
    </div> -->
    <!-- / CONTENT HEADER -->
    <div class="header" fxLayout="row" fxLayoutAlign="start center">

      <div class="search-wrapper mat-white-bg" fxFlex fxLayout="row" fxLayoutAlign="start center">

        <button mat-icon-button class="sidebar-toggle" fxHide.gt-md (click)="toggleSidebar('form-categories-sidebar')">
          <mat-icon>menu</mat-icon>
        </button>

        <div class="search" flex fxLayout="row" fxLayoutAlign="start center">
          <mat-icon>search</mat-icon>
          <input [formControl]="searchInput" placeholder="Search for a task" fxFlex>
        </div>
      </div>

    </div>

    <!-- CONTENT CARD -->
    <div class="content-card" fusePerfectScrollbar>
      <router-outlet></router-outlet>
    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->

</div>