<div class="page-layout carded left-sidebar inner-scroll" id="dashboard">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- SIDEBAR -->
  <fuse-sidebar class="sidebar" name="form-dashboard-sidebar" position="left" lockedOpen="gt-md">

    <!-- SIDEBAR HEADER -->
    <div class="header p-24 accent">
      <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
        shopping_basket
      </mat-icon>
      <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
        Form Builder
      </span>
      <div fxLayout="column" fxLayoutAlign="end end" fxHide.gt-md>
        <mat-icon>close</mat-icon>
      </div>
    </div>

    <!-- / SIDEBAR HEADER -->

    <!-- SIDEBAR CONTENT -->
    <div class="content" fusePerfectScrollbar>
      <div class="sidebar-content">
        <div class="card">
          <div class="content py-16" fusePerfectScrollbar>
            <div class="nav material2">
              <div class="nav-item" aria-label="Uncategorised" routerLink="folder/forms/uncategorised" routerLinkActive="accent">
                <a class="nav-link">
                  <mat-icon class="mr-8">folder</mat-icon>
                  <div class="title">Uncategorised</div>
                </a>
              </div>
              <div class="nav-item" aria-label="inbox" *ngFor="let link of categories" [routerLink]="['folder/' + link.id + '/' + link.name]"
                routerLinkActive="accent">
                <a class="nav-link">
                  <mat-icon class="mr-8">web_asset</mat-icon>
                  <span class="title text-truncate">{{ link.name }}</span>
                </a>
              </div>
              <div class="nav-item" aria-label="Uncategorised" routerLink="folder/forms/archived" routerLinkActive="accent">
                <a class="nav-link">
                  <mat-icon class="mr-8">archive</mat-icon>
                  <div class="title">Archived Forms</div>
                </a>
              </div>
              <div class="nav-item" aria-label="Uncategorised" routerLink="folder/forms/deleted" routerLinkActive="accent">
                <a class="nav-link">
                  <mat-icon class="mr-8">delete</mat-icon>
                  <div class="title">Deleted Forms</div>
                </a>
              </div>
            </div>
            <div class="p-12" fxLayout="column" fxLayoutAlign="center stretch">
              <button mat-raised-button (click)="addNewCategory()" class="add-product-button fuse-white mt-24 mt-md-0">
                <mat-icon class="mr-8">add</mat-icon>
                <span>ADD NEW CATAGORY</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </fuse-sidebar>

  <!-- CENTER -->
  <div class="center">

    <!-- CONTENT HEADER -->
    <!-- <div class="header accent p-24">
      <h2 class="m-0">Left sidebar with inner scroll</h2>
    </div> -->
    <!-- / CONTENT HEADER -->
    <div class="header" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

      <div class="search-wrapper mx-32 mx-md-0">

        <button mat-icon-button class="sidebar-toggle" fxHide.gt-md (click)="toggleSidebar('form-dashboard-sidebar')">
          <mat-icon>menu</mat-icon>
        </button>

        <div class="search" flex fxLayout="row" fxLayoutAlign="start center">
          <mat-icon>search</mat-icon>
          <input [formControl]="searchInput" placeholder="Search for a task" fxFlex>
        </div>
      </div>
    </div>

    <!-- CONTENT CARD -->
    <div class="content-card" fusePerfectScrollbar>
      <router-outlet></router-outlet>
    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->

</div>