<div class="page-layout carded left-sidebar inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- SIDEBAR -->
  <fuse-sidebar class="sidebar" name="carded-left-sidebar-2" position="left" lockedOpen="gt-md">

    <!-- SIDEBAR HEADER -->
    <div class="header p-24 accent">
      <h2 class="m-0">Form Builder</h2>
    </div>
    <!-- / SIDEBAR HEADER -->

    <!-- SIDEBAR CONTENT -->
    <div class="content" fusePerfectScrollbar>
      <div class="sidebar-content">
        <div class="card">
          <div class="content py-16" fusePerfectScrollbar>
            <div class="nav material2">
              <div class="nav-item" aria-label="Uncategorised" routerLink="folder/uncategorised">
                <a class="nav-link" matRipple>
                  <div class="title">Uncategorised</div>
                </a>
              </div>
              <div class="nav-item" aria-label="inbox" *ngFor="let link of categories" [routerLink]="['folder/',link.id]">
                <a class="nav-link" matRipple>
                  <span class="title">{{ link.name }}</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </fuse-sidebar>

  <!-- CENTER -->
  <div class="center">

    <!-- CONTENT HEADER -->
    <div class="header accent p-24">
      <h2 class="m-0">Left sidebar with inner scroll</h2>
    </div>
    <!-- / CONTENT HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">
      <router-outlet></router-outlet>
    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->

</div>