<div id="menu" class="page-layout carded fullwidth inner-scroll">
  <div class="top-bg accent"></div>
  <div class="center">
    <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
      <div class="logo my-12 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
          menu
        </mat-icon>
        <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          Navigation Menu
        </span>
      </div>
      <div class="search-wrapper mx-32 mx-md-0">
          <div class="search" flex fxLayout="row" fxLayoutAlign="start center">
            <mat-icon>search</mat-icon>
            <input #filter placeholder="Search for a menu">
          </div>
        </div>
      <button mat-raised-button [routerLink]="['/admin/menu/setup/', 'new']" class="add-product-button fuse-white mt-24 mt-md-0">
        <span>ADD NEW</span>
      </button>
    </div>
    <div class="content-card">
      <mat-table class="menu-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'10'}">
        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Caption </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm fxHide.lg> Menu Group </mat-header-cell>
          <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm fxHide.lg> {{row.type}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="route">
          <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm> Route </mat-header-cell>
          <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm> {{row.route}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="icon">
          <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm> Icon Name </mat-header-cell>
          <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm> {{row.icon}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="parentName">
          <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm> Parent Menu </mat-header-cell>
          <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm> {{row.parentName}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="isVisible">
          <mat-header-cell *matHeaderCellDef> Is Visible </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox [checked]="row.isVisible" disabled="true" (click)="$event.stopPropagation()"></mat-checkbox>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
          <mat-cell *matCellDef="let row">
              <div fxFlex="row" fxLayoutAlign="center">
                  <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More" (click)="$event.stopPropagation();">
                      <mat-icon class="secondary-text">more_vert</mat-icon>
                  </button>
                  <mat-menu #moreMenu="matMenu">
                      <button mat-menu-item aria-label="edit" [routerLink]="['/admin/menu/setup/', row.id]">
                          <mat-icon>edit</mat-icon>
                          <span>Edit</span>
                      </button>
                      <button mat-menu-item aria-label="remove" (click)="DeleteMenu(row)">
                          <mat-icon>delete</mat-icon>
                          <span>Remove</span>
                      </button>
                  </mat-menu>
              </div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" class="menu" matRipple 
          matRipple [@animate]="{value:'*',params:{y:'100%'}}">
        </mat-row>
      </mat-table>
      <mat-paginator #paginator [length]="dataSource.paginatedData" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>

    </div>
  </div>
</div>