<div id="templatesetup" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-xs="row"
    fxLayoutAlign.gt-xs="space-between center">
    <div fxLayout="row" fxLayoutAlign="start center">
      <button mat-icon-button class="sidebar-toggle mr-12" fxHide.gt-md (click)="toggleSidebar('template-main-sidebar')">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="logo" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">account_box
        </mat-icon>
        <div fxLayout="column" fxLayoutAlign="start center">
          <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
            {{templateName}}
          </span>
          <div class="subtitle secondary-text">
            <span [routerLink]="['/admin/setup/customObject']">Categories</span> / <span [routerLink]="['/admin/setup/customObject/',templateId]">
              Templates</span>
          </div>
        </div>
      </div>
    </div>
    <div class="search-input-wrapper mt-16 ml-8 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
      <label for="search" class="mr-8">
        <mat-icon>search</mat-icon>
      </label>
      <mat-form-field mat-no-float class="m-0" floatLabel="never">
        <input matInput [formControl]="searchInput" id="search" placeholder="Search for anything">
      </mat-form-field>
    </div>
  </div>
  <div class="content">
    <fuse-sidebar class="sidebar" name="template-main-sidebar" position="left" lockedOpen="gt-sm">
      <div class="content" fusePerfectScrollbar>
        <app-template-sidebar [@animate]="{value:'*'}"></app-template-sidebar>
      </div>
    </fuse-sidebar>
    <div class="center p-24 pb-56" fusePerfectScrollbar>
      <div class="content mat-white-bg mat-elevation-z4">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>