<div id="properties" class="page-layout carded fullwidth inner-scroll">
    <div class="top-bg mat-accent-bg"></div>
    <div class="center">
        <div class="header mat-accent-bg" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
            <div class="logo my-12 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    account_box
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Properties
                </span>
            </div>
            <div class="search-input-wrapper mx-24 m-md-0" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                <label for="search" class="mr-8">
                    <mat-icon class="secondary-text">search</mat-icon>
                </label>
                <mat-form-field floatLabel="never" fxFlex="1 0 auto">
                    <input id="search" matInput #filter placeholder="Search">
                </mat-form-field>
            </div>
            <button mat-raised-button [routerLink]="['/asset/property/', 'new']" class="add-user-button mat-white-bg my-12 mt-sm-0">
                <span>ADD NEW PROPERTY</span>
            </button>
        </div>
        <div class="content-card mat-white-bg">
            <mat-table class="properties-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}">
                <!-- Checkbox Column -->
                <ng-container matColumnDef="checkbox">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let property">
                        <mat-checkbox (click)="$event.stopPropagation()">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="dataId">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                        <mat-cell *matCellDef="let property">
                            <p>{{property.dataId}}</p>
                        </mat-cell>
                    </ng-container>

                <ng-container matColumnDef="propertyReference">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Reference</mat-header-cell>
                    <mat-cell *matCellDef="let property">
                        <p class="text-truncate">{{property.propertyReference}}</p>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="addressLine1">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Address Line 1</mat-header-cell>
                    <mat-cell *matCellDef="let property">
                        <p class="text-truncate">{{property.addressLine1}}</p>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="addressLine2">
                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm mat-sort-header>Address Line 2</mat-header-cell>
                    <mat-cell *matCellDef="let property" fxHide fxShow.gt-sm>
                        <p class="email text-truncate">
                            {{property.addressLine2}}
                        </p>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="postCode">
                    <mat-header-cell mat-sort-header *matHeaderCellDef fxHide fxShow.gt-md>Post code</mat-header-cell>
                    <mat-cell *matCellDef="let property" fxHide fxShow.gt-md>
                        <p class="phone text-truncate">
                            {{property.postCode}}
                        </p>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="city">
                    <mat-header-cell mat-sort-header *matHeaderCellDef fxHide fxShow.gt-lg>City</mat-header-cell>
                    <mat-cell *matCellDef="let property" fxHide fxShow.gt-lg>
                        <p class="job-title text-truncate">
                            {{property.city}}
                        </p>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="portfolioName">
                    <mat-header-cell mat-sort-header *matHeaderCellDef fxHide fxShow.gt-lg>Portfolio</mat-header-cell>
                    <mat-cell *matCellDef="let property" fxHide fxShow.gt-lg>
                        <p class="company text-truncate">
                            {{property.portfolioName}}
                        </p>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="buttons">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let property">
                        <div fxFlex="row">
                            <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More" (click)="$event.stopPropagation();">
                                <mat-icon class="secondary-text">more_vert</mat-icon>
                            </button>
                            <mat-menu #moreMenu="matMenu">
                                <button mat-menu-item aria-label="remove" (click)="deleteProperty(property.id)">
                                    <mat-icon>delete</mat-icon>
                                    <span>Remove</span>
                                </button>
                                <button mat-menu-item aria-label="archive" (click)="deleteProperty(property.id)">
                                    <mat-icon>archive</mat-icon>
                                    <span>Archive</span>
                                </button>
                            </mat-menu>
                        </div>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                <mat-row *matRowDef="let property; columns: displayedColumns;" class="property" matRipple [routerLink]="['/asset/property/', property.id]"
                    matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                </mat-row>
            </mat-table>
            <mat-paginator #paginator [length]="dataSource.paginatedData" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
    </div>
</div>