<div [@expandCollapse]>
  <div class="nav" style="padding-left:10px;">
    <div class="nav-item" aria-label="inbox" >
      <a class="nav-link" matRipple [ngStyle]="{'padding-left': (depth * 15) + 'px'}" (click)="onItemSelected(item)">
        {{item.name}}{{item.templateName}}
        <span fxFlex *ngIf="(item.templates && item.templates.length) || (item.tabs && item.tabs.length) || (item.tabs.length == 0)">
          <span fxFlex></span>
          <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
            expand_more
          </mat-icon>
        </span>
      </a>
    </div>
    <div *ngIf="expanded">
      <div *ngIf="item.templates">
        <tree-menu-sub *ngFor="let child of item.templates" [item]="child" [depth]="depth+1">
        </tree-menu-sub>
        <div class="nav-item">
          <a class="nav-link" style="color:blueviolet" href="...">Add New Template <mat-icon>add</mat-icon></a>
          <a class="nav-link" style="color:blueviolet" href="...">Edit Category <mat-icon>edit</mat-icon></a>
          <a class="nav-link" style="color:blueviolet" href="...">Delete Category <mat-icon>delete</mat-icon></a>
        </div>
      </div>
      <div *ngIf="!item.templates">
        <div class="nav-item" (click)="expand()">
          <span fxFlex class="nav-link">
            Tabs
          </span>
        </div>
        <div *ngIf="showTabs && item.tabs">
          <tab-tree *ngFor="let child of item.tabs" [item]="child" [depth]="depth+1" [@expandCollapse]>
          </tab-tree>
          <div class="nav-item">
            <a class="nav-link" style="color:rgb(241, 149, 11);padding-left: 40px;" (click)="addTab(item)">Add Tab</a>
          </div>
        </div>
        <div class="nav-item">
          <a class="nav-link" style="color:rgb(26, 27, 134);" href="...">Edit Template</a>
          <a class="nav-link" style="color:rgb(26, 27, 134);" href="...">Delete Template</a>
        </div>
      </div>
    </div>
  </div>
</div>