<div id="user" class="page-layout carded fullwidth inner-scroll">
  <div class="top-bg accent"></div>
  <div class="center">
    <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutAlign="start center">
        <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/users'">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          <div class="h2" *ngIf="pageType ==='edit'">
            {{user.username}}
          </div>
          <div class="h2" *ngIf="pageType ==='new'">
            New User
          </div>
          <div class="subtitle secondary-text">
            <span>User Detail</span>
          </div>
        </div>
      </div>
      <button mat-raised-button class="save-product-button mat-white-bg" [disabled]="userForm.invalid" *ngIf="pageType ==='new'"
        (click)="addUser()">
        <span>ADD</span>
      </button>
      <button mat-raised-button class="save-product-button mat-white-bg" [disabled]="userForm.invalid || userForm.pristine" *ngIf="pageType ==='edit'"
        (click)="saveUser()">
        <span>SAVE</span>
      </button>
    </div>
    <div class="content-card">
      <div class="content">
        <form name="userForm" [formGroup]="userForm" class="product w-100-p" fxLayout="column" fxFlex>
          <mat-tab-group>
            <mat-tab label="Basic Info">
              <div class="tab-content p-24" fusePerfectScrollbar>
                <mat-form-field class="w-100-p">
                  <input matInput name="firstname" formControlName="firstname" placeholder="firstname" required>
                </mat-form-field>
                <mat-form-field class="w-100-p">
                  <input matInput name="lastname" formControlName="lastname" placeholder="lastname">
                </mat-form-field>

                <mat-form-field class="w-100-p">
                  <input matInput name="address" formControlName="address" placeholder="Address" type="text">
                  <span matPrefix>$&nbsp;</span>
                </mat-form-field>

                <mat-form-field class="w-100-p">
                  <input matInput name="emailAddress" formControlName="emailAddress" placeholder="Email" type="email">
                  <span matPrefix>$&nbsp;</span>
                </mat-form-field>
              </div>
            </mat-tab>
          </mat-tab-group>
        </form>
      </div>
    </div>
  </div>
</div>