<div fxFlex="100" [formGroup]="group">
    <div fxLayout="row" fxLayoutGap="25px">
        <div>
            <mat-label>{{field.caption}}</mat-label>
        </div>
        <div fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto">
            <ng-container *ngIf="options != null">
                <mat-checkbox #checkboxMultiple flex='20' (change)="selectionChange($event)" [value]="[item, i]"
                    *ngFor="let item of options; let i = index" [formControlName]="field.name">{{item.Value}}</mat-checkbox>
            </ng-container>
            <ng-container *ngIf="field.fieldAttributeDto != null && field.fieldAttributeDto.isRequired && group.invalid"
                ngProjectAs="mat-error">
                <mat-error>{{ field.caption }} is required</mat-error>
            </ng-container>
            <mat-hint *ngIf="field.fieldAttributeDto != null && (field.fieldAttributeDto.showHint || field.fieldAttributeDto.hint)">
                {{field.fieldAttributeDto.hint}}</mat-hint>
        </div>
    </div>
</div>