<div *ngIf="!tab" fxLayout="column" fxLayoutAlign="center center" fxFlex>
  <mat-icon class="s-120 mb-12 select-todo-icon hint-text" [@animate]="{value:'*',params:{delay:'300ms',scale:'0.2'}}">check_box
  </mat-icon>
  <span class="hint-text mat-h1 select-todo-text" [@animate]="{value:'*',params:{delay:'400ms'}}">
    Select a tab
  </span>
</div>

<div class="tab-content" *ngIf="tab">
  <form [formGroup]="tabForm" (submit)="addTab()">

    <mat-form-field class="title mt-8" floatLabel="never" fxFill>
      <input matInput name="caption" formControlName="caption" placeholder="Tab Name" required/>
    </mat-form-field>

    <button *ngIf="formType === 'new'" mat-raised-button class="mat-accent" [disabled]="tabForm.invalid">SAVE
    </button>
  </form>
</div>