<div id="records" class="page-layout carded fullwidth inner-scroll">
  <div class="top-bg accent"></div>
  <div class="center">
    <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
      fxLayoutAlign.gt-xs="space-between center">
      <div class="logo my-12 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
          account_box
        </mat-icon>
        <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          <span [routerLink]="['/checklist/cat/', groupId]" matLine style="cursor:pointer;">{{groupName}}</span>  / <span>{{templateName}}</span>
        </span>
      </div>
      <div class="search-input-wrapper mx-24 m-md-0" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
        <label for="search" class="mr-8">
          <mat-icon class="secondary-text">search</mat-icon>
        </label>
        <mat-form-field floatLabel="never" fxFlex="1 0 auto">
          <input id="search" matInput #filter placeholder="Search">
        </mat-form-field>
      </div>
      <button mat-raised-button [routerLink]="['../record','new']" class="add-user-button mat-white-bg my-12 mt-sm-0">
        <span>ADD NEW</span>
      </button>
    </div>
    <div class="content-card">
      <mat-table class="records-table" [dataSource]="dataSource" [@animateStagger]="{value:'50'}" matSort matSortActive="dataId"
        matSormat-cellisableClear matSormat-cellirection="asc">

        <!-- Position Column -->
        <ng-container matColumnDef="dataId">
          <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.dataId}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="addedOn">
          <mat-header-cell *matHeaderCellDef> Added On </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.addedOn | date }} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="dueDate">
          <mat-header-cell *matHeaderCellDef> Due Date </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.dueDate | date}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="buttons">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element">
            <div fxFlex="row">
              <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More" (click)="$event.stopPropagation();">
                <mat-icon class="secondary-text">more_vert</mat-icon>
              </button>
              <mat-menu #moreMenu="matMenu">
                <button mat-menu-item aria-label="remove" (click)="delete(element.id)">
                  <mat-icon>delete</mat-icon>
                  <span>Remove</span>
                </button>
                <button mat-menu-item aria-label="archive" (click)="delete(element.id)">
                  <mat-icon>archive</mat-icon>
                  <span>Archive</span>
                </button>
              </mat-menu>
            </div>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let element; columns: displayedColumns;" class="record" matRipple [routerLink]="['../record/', element.id]"
          matRipple [@animate]="{value:'*',params:{y:'100%'}}">
        </mat-row>
      </mat-table>
      <mat-paginator #paginator [length]="resultsLength" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
  </div>
</div>