<!-- <div class="mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  
</div> -->

<div class="example-container">
  <mat-table [dataSource]="dataSource" [@animateStagger]="{value:'50'}" matSort matSortActive="dataId" matSortDisableClear
    matSortDirection="asc">

    <!-- Position Column -->
    <ng-container matColumnDef="dataId">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.dataId}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="addedOn">
      <th mat-header-cell *matHeaderCellDef> Added On </th>
      <td mat-cell *matCellDef="let element"> {{element.addedOn | date }} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="dueDate">
      <th mat-header-cell *matHeaderCellDef> Due Date </th>
      <td mat-cell *matCellDef="let element"> {{element.dueDate | date}} </td>
    </ng-container>
    <ng-container matColumnDef="buttons">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div fxFlex="row">
          <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More" (click)="$event.stopPropagation();">
            <mat-icon class="secondary-text">more_vert</mat-icon>
          </button>
          <mat-menu #moreMenu="matMenu">
            <button mat-menu-item aria-label="remove" (click)="delete(element.id)">
              <mat-icon>delete</mat-icon>
              <span>Remove</span>
            </button>
            <button mat-menu-item aria-label="archive" (click)="delete(element.id)">
              <mat-icon>archive</mat-icon>
              <span>Archive</span>
            </button>
          </mat-menu>
        </div>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let element; columns: displayedColumns;" class="contact" (click)="edit(element)" matRipple [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
  </mat-table>

  <mat-paginator #paginator (page)="pageEvent($event)" [pageSize]="pageSize" [length]="total" [pageSizeOptions]="[5, 10, 50, 100]"
    [showFirstLastButtons]="true">
  </mat-paginator>
</div>