#assets {

    .content {
        overflow: hidden;

        content > :not(router-outlet){
            display: initial!important;
        }
        .sidebar {

            &:not(.locked-open) {
                background: white;
            }
        }
    }
}