@mixin setup-theme($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $accent: map-get($theme, accent);
    $is-dark: map-get($theme, is-dark);
    setup {
        .center {
            .header {
                .search-wrapper {
                    background: map-get($background, card);
                    .sidebar-toggle {
                        border-right-color: map-get($foreground, divider);
                    }
                    .search {
                        .mat-icon {
                            color: map-get($foreground, icon);
                        }
                        input {
                            background: map-get($background, card);
                            color: map-get($foreground, text);
                        }
                    }
                }
            }
            @include media-breakpoint(gt-sm) {
                .sidebar {
                    .content{
                        .sidebar-content{
                            .card{
                                background: map-get($background, card);
                            }
                        }
                    }
                }
            }
        }
    }
}