<mat-form-field style="width:100%;padding-bottom:10px;" fxFlex="100" appearance="outline" [formGroup]="group">
    <mat-label>{{config.label}}</mat-label>
    <input matInput [matDatepicker]="picker" [formControlName]="config.name" [placeholder]="config.label">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <!-- <mat-hint *ngIf="field.fieldAttributeDto != null && (field.fieldAttributeDto.showHint || field.fieldAttributeDto.hint)">
        {{field.fieldAttributeDto.hint}}</mat-hint>
    <ng-container *ngIf="field.fieldAttributeDto != null && field.fieldAttributeDto.isRequired && group.invalid"
        ngProjectAs="mat-error">
        <mat-error>{{ config.label }} is required</mat-error>
    </ng-container> -->
</mat-form-field>