<mat-form-field style="width:100%;padding-bottom:10px;" fxFlex="100" appearance="outline" [formGroup]="group">
    <mat-label>{{field.caption}}</mat-label>
    <input matInput [matDatepicker]="picker" [formControlName]="field.name" [placeholder]="field.fieldAttributeDto != null ? field.fieldAttributeDto.placeHolder : field.caption">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-hint *ngIf="field.fieldAttributeDto != null && (field.fieldAttributeDto.showHint || field.fieldAttributeDto.hint)">
        {{field.fieldAttributeDto.hint}}</mat-hint>
    <ng-container *ngIf="field.fieldAttributeDto != null && field.fieldAttributeDto.isRequired && group.invalid"
        ngProjectAs="mat-error">
        <mat-error>{{ field.caption }} is required</mat-error>
    </ng-container>
</mat-form-field>